PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/aumo?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_here_make_it_long_and_random
JWT_EXPIRES_IN=7d
AI_SERVICE_URL=https://pratikpawar24-aumo-ai.hf.space
FRONTEND_URL=https://aumo-frontend.vercel.app
ORS_API_KEY=your_openrouteservice_api_key
NODE_ENV=production